<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Load the properties file sport.properties-->
    <context:property-placeholder location="sport.properties"/>


    <bean id="fortuneService" class="edu.tomerbu.HappyFortuneService"/>

    <bean id="myCoach"
          class="edu.tomerbu.TrackCoach" >
        <!-- set up constructor injection -->
        <constructor-arg ref="fortuneService"/>
    </bean>

    <bean init-method="init" destroy-method="cleanup" id="cricketCoach" scope="prototype" class="edu.tomerbu.CricketCoach">

        <property name="fortuneService" ref="fortuneService"/>
        <property name="email" value="${co.email}"/>
        <property name="team" value="${co.team}"/>
    </bean>


</beans>